@import "colors";

$color-accent-1: $color-platinum;
$color-accent-2: $color-white;
$color-accent-3: $color-black;
$color-accent-4: $color-dim-gray;
$color-accent-5: $color-pink-swan;

$main-font: 'Archivo', sans-serif;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 900px;
$breakpoint-desktop: 1300px;
